.navbar__item {
  height: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.checked {
  width: 35px;
}

.toggle {
  width: 35px;
  display: flex;
  margin-right: 34px;
}

.logo {
  cursor: pointer;
  margin-right: 130px;
}

.nav__text {
  width: 210px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.burger-menu {
  display: none;
}

.call_btn {
  display: flex;
  align-items: center;
  margin-right: 29px;
}

.call {
  margin-right: 4px;
}

.menu {
  width: 35px !important;
  height: 35px !important;
  color: #ffffff;
}

.menu_item {
  margin-top: 50px;
}

.moon__cont {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moon {
  color: white;
}

@media screen and (max-width: 670px) {
  .nav__text {
    display: none;
  }

  .navbar__item {
    margin: 0 5px;
  }

  .layer_img_1 {
    display: none;
  }

  .layer_img_2 {
    display: none;
  }

  .layer_img_3 {
    display: none;
  }

  .layer_img_4 {
    display: none;
  }

  .toggle {
    display: none;
  }

  .moon__cont {
    display: none;
  }

  .burger-menu {
    display: block;
  }
}
